@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
}

.nunito-fonts {
  font-family: "Nunito", sans-serif;
}

.image-scroll-hover img {
  transition: transform 2s linear;
}

.image-scroll-hover:hover img {
  transform: translateY(-50%);
}
